<html xmlns:th="http://www.thymeleaf.org">
		<header th:fragment="header">
			<nav
				class="navbar navbar-expand-lg navbar-dark justify-content-between sticky-top fs-4"
				role="navigation">
				<div class="container-fluid">
					<a class="navbar-brand mx-2" href="#"><img
						src="https://aiweb-icsdiscover.vercel.app/favicon.ico"
						alt="ICS Discover Logo" width="30%"
						class="border border-primary rounded" /></a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end"
						id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto text-nowrap">
							<li class="nav-item"><a class="nav-link"
								href="https://www.youtube.com/channel/UCLZnGghxjldvhQSnno47Olw"
								target="_new">[[#{tutorials}]]</a></li>
							<li class="nav-item"><a class="nav-link"
								href="https://github.com/lalumastan"
								target="_new">[[#{github}]]</a></li>								
							<li class="nav-item"><a class="nav-link"
								href="https://www.linkedin.com/in/mohammed-islam-57264235"
								target="_new">[[#{linkedin}]]</a></li>
							<li class="nav-item"><a class="nav-link"
								href="mailto:lalumastan@gmail.com">[[#{contact}]]</a></li>
							<li class="nav-item"><a class="nav-link"
								href="https://www.youtube.com/@icsdiscover/about" target="_new">[[#{about}]]</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>